{% extends "base.html" %}

{% block title %}
	Home
{% endblock %}

{% block content %}

	<div class="container">
		<h1>Home Page</h1>
		<p>Contact Page has been visited: <span id="contact-view"></span></p>
		<p>Services Page has been visited: <span id="services-view"></span></p>
		<p>Features Page has been visited: <span id="features-view"></span></p>
		<p>Pricing Page has been visited: <span id="pricing-view"></span></p>
		<p>About Page has been visited: <span id="about-view"></span></p>
		<p>Blog Page has been visited: <span id="blog-view"></span></p>
	</div>

{% endblock content %}